<ion-view hide-nav-bar="false" view-title="PROPERTY INFORMATION" class="userAuth">
	<ion-content class="padding client-step2">
		<img src="img/Icon_2StepNav_02.png" style="display:block;width:30%;">

		<ul id="navlist">
			<li id="clientstep1"><a ui-sref="home.homeowner-signup"></a></li>
			<li id="clientstep2"><a ui-sref="home.client-step2"></a></li>
		</ul>

		<form>
			<div class="own-or-rent">
				<label>Do You Own or Rent?</label>
				<select ng-model="client.propertyType" ng-options="pType for pType in propertyType">
					<option disabled selected value="">Select a Property Type</option>
				</select>
			</div>	
			
			<div>
				<label>Address</label>
				<input class="full-width-input" type="text" placeholder="Address" ng-model="client.address">
				<div class="inline-select">
					<label class="item item-input item-select">
						<select>
							<option selected="" disabled="" value="">Country</option>
						</select>
					</label>
					<label class="item item-input item-select">
						<select>
							<option selected="" disabled="" value="">Province/State</option>
						</select>
					</label>
				</div>
				<div>
					<input class="full-width-input" type="text" placeholder="City">
					<input class="full-width-input" type="text" placeholder="Postal Code/Zip">
				</div>
			</div>

			<button class="button button-full progress-button" ui-sref="home.login">Save</button>
		</form>
	</ion-content>
</ion-view>