<ion-view title="123 Fakename St. Toronto">
    <ion-content>
        <div class="subsection-header primary-color">
            <h2>ROOM PHOTOS</h2>
            <i class="button button-icon icon ion-ios-camera-outline right" ng-click="addMedia()"></i>
        </div>

        <div class="row" ng-repeat="image in images" ng-if="$index % 4 === 0" style="margin-left:0px;margin-right:0px;">
            <div class="col col-25" ng-if="$index < images.length">
                <img ng-src="{{urlForImage(images[$index])}}" width="100%">
            </div>

            <div class="col col-25" ng-if="$index + 1 < images.length">
                <img ng-src="{{urlForImage(images[$index + 1])}}" width="100%">
            </div>

            <div class="col col-25" ng-if="$index + 2 < images.length">
                <img ng-src="{{urlForImage(images[$index + 2])}}" width="100%">
            </div>

            <div class="col col-25" ng-if="$index + 3 < images.length">
                <img ng-src="{{images[3]}}" width="100%"><!--For testing remember!!!-->
            </div>
 
        </div>
    </ion-content>
</ion-view>