<ion-view hide-back-button="true">
	<ion-content class="select-clients">
		<span class="subsection-header primary-color">
			<i class="icon button button-icon ion-chevron-left primary-color left" ng-click="goBack();"></i><h2>SELECT CLIENTS</h2>	
		</span>

		<div>
			<span>
				<input type="text" placeholder="Name"> <input type="text" placeholder="Email">
			</span>
			<div class="nw"></div>
			<i class="icon button button-clear button-icon ion-plus" ng-click="newUserField();"></i>

			<p class="or">or</p>
			<button class="button Button primary-color">Choose from list</button>
		</div>
	</ion-content>
</ion-view>
