<ion-view>
	<ion-content class="view-my-profile">
		<div class="section-header primary-color">
			<h2>VIEW MY PROFILE</h2>
		</div>

		<div class="personal-information">
			<h2 class="header">Personal Information</h2>
			<div class="padding">
				<div id="image-row">
				<img src="img/realtor_profile.jpg">
				
				<div>
					<input type="text" placeholder="Name">
					<input type="text" placeholder="Specify a Status Message (e.g.Remember to set your clocks back 1 hour!)">
				</div>
				</div>

				<textarea rows="5" cols="62" placeholder="Specify a short bio..."></textarea>
			</div>	
		</div>

		<div class="company-info">
			<h2 class="header">Company/Brokerage Information</h2>	
			<div class="padding">	
				<div id="image-row">
				<img src="img/company logo.png">

				<div>
					<input type="text" placeholder="Company/Brokerage Name">
					<input type="number" placeholder="Telephone">
				</div>
				</div>

				<div>
				<span>
					<input type="text" placeholder="Address">
					<select>
						<option selected disabled>Country</option>
					</select>
				</span>
				<span>
					<select>
						<option selected disabled>Province/State</option>
					</select>
					<input type="text" placeholder="City">
					<input type="text" placeholder="Postal Code/Zip" style="width:50px;">
				</span>
				<select>
					<option selected disabled>Website URL</option>
				</select>
				</div>
			</div>
		</div>

		<div class="payment-info">
			<h2 class="header">Payment Information</h2>
		</div>
	</ion-content>
</ion-view>