/*
    Theme: Blue (Light)
    Primary: #459cc6
    Secondary: #55a9d1
    Text: #2b75a2
*/

h1, h2, h3, h4, h5, h6{ color: #2b75a2; }
hr.ThemeColor { border-color: #2b75a2; }

.BodyContainer .Dashboard .SideColumn .AddressSelector .Button:hover { background: #55a9d1; color:#fff !important;}
.BodyContainer .Dashboard .SideColumn .AddressSelector .Change:hover, .BodyContainer .Dashboard .SideColumn .Open .Change, .BodyContainer .Dashboard .SideColumn .AddressSelector .Change:focus { background-color: #55a9d1 !important;}

.BodyContainer .Dashboard .SideColumn ul li.Selected, .BodyContainer .Dashboard .SideColumn ul li.Selected a { background: #459cc6 !important; }
.BodyContainer .Dashboard .SideColumn ul li ul li:hover a { background: #459cc6; }

.StepIndicator span.Selectable:hover, .StepIndicator span.Selected { border-color: #2b75a2; }

.Button_Grey:hover, .Button:hover, .Button_DarkGrey:hover { background-color: #55a9d1 !important; color:#fff !important;}
.Button, .primary-color, .section-header { background-color: #459cc6; color:#fff !important; }
.section-header h2{color: #fff;}

.PanelWithList >.List li:hover, .PanelWithList >.List li.Selected { background: #55a9d1; }
.PanelWithList >.Content .Checklist .Item:hover .Controls span { color: #459cc6; }
.PanelWithList >.Content .Checklist .Item:hover .Controls span:hover {color: #55a9d1; }

.Dictionary .Selector a:hover { color: #459cc6 !important; }

.PopUp_Heading h1, .PopUp_Heading h2 { color: #2b75a2;}
.PopUp_Close span { color: #2b75a2;}
.PopUp_Close:hover { background-color: #2b75a2;}


/* ----------- INFRAGISTICS STYLES ---------------*/

.ui-igcombo-button { color: #459cc6 !important; }

.ui-igstartupbrowsebutton:hover, .ui-iggrid .ui-state-hover, li.ui-state-hover {background: #459cc6 !important; color:#fff !important; border-color: #459cc6; }

.ui-datepicker .ui-datepicker-calendar  .ui-datepicker-current-day{ background-color: #459cc6 !important;}
.ui-datepicker .ui-datepicker-calendar a.ui-state-active { color: #459cc6 !important;}