/*
    Theme: Green (Dark)
    Primary: #427411
    Secondary: #568725
    Text: #325410
*/

h1, h2, h3, h4, h5, h6{ color: #325410; }
hr.ThemeColor { border-color: #325410; }

.BodyContainer .Dashboard .SideColumn .AddressSelector .Button:hover { background: #568725; color:#fff !important;}
.BodyContainer .Dashboard .SideColumn .AddressSelector .Change:hover, .BodyContainer .Dashboard .SideColumn .Open .Change, .BodyContainer .Dashboard .SideColumn .AddressSelector .Change:focus { background-color: #568725 !important;}

.BodyContainer .Dashboard .SideColumn ul li.Selected, .BodyContainer .Dashboard .SideColumn ul li.Selected a { background: #427411 !important; }
.BodyContainer .Dashboard .SideColumn ul li ul li:hover a { background: #427411; }

.StepIndicator span.Selectable:hover, .StepIndicator span.Selected { border-color: #325410; }

.Button_Grey:hover, .Button:hover, .Button_DarkGrey:hover { background-color: #568725 !important; color:#fff !important;}
.Button, .primary-color, .section-header { background-color: #427411; color:#fff !important; }
.section-header h2{color: #fff;}

.PanelWithList >.List li:hover, .PanelWithList >.List li.Selected { background: #568725; }
.PanelWithList >.Content .Checklist .Item:hover .Controls span { color: #427411; }
.PanelWithList >.Content .Checklist .Item:hover .Controls span:hover {color: #568725; }

.Dictionary .Selector a:hover { color: #427411 !important; }

.PopUp_Heading h1, .PopUp_Heading h2 { color: #325410;}
.PopUp_Close span { color: #325410;}
.PopUp_Close:hover { background-color: #325410;}


/* ----------- INFRAGISTICS STYLES ---------------*/

.ui-igcombo-button { color: #427411 !important; }

.ui-igstartupbrowsebutton:hover, .ui-iggrid .ui-state-hover, li.ui-state-hover {background: #427411 !important; color:#fff !important; border-color: #427411; }

.ui-datepicker .ui-datepicker-calendar  .ui-datepicker-current-day{ background-color: #427411 !important;}
.ui-datepicker .ui-datepicker-calendar a.ui-state-active { color: #427411 !important;}