/*
    Theme: Orange (Dark)
    Primary: #cb3e00
    Secondary: #d84200
    Text: #883d1d
*/

h1, h2, h3, h4, h5, h6{ color: #883d1d; }
hr.ThemeColor { border-color: #883d1d; }

.BodyContainer .Dashboard .SideColumn .AddressSelector .Button:hover { background: #d84200; color:#fff !important;}
.BodyContainer .Dashboard .SideColumn .AddressSelector .Change:hover, .BodyContainer .Dashboard .SideColumn .Open .Change, .BodyContainer .Dashboard .SideColumn .AddressSelector .Change:focus { background-color: #d84200 !important;}

.BodyContainer .Dashboard .SideColumn ul li.Selected, .BodyContainer .Dashboard .SideColumn ul li.Selected a { background: #cb3e00 !important; }
.BodyContainer .Dashboard .SideColumn ul li ul li:hover a { background: #cb3e00; }

.StepIndicator span.Selectable:hover, .StepIndicator span.Selected { border-color: #883d1d; }

.Button_Grey:hover, .Button:hover, .Button_DarkGrey:hover { background-color: #d84200 !important; color:#fff !important;}
.Button, .primary-color, .section-header { background-color: #cb3e00; color:#fff !important; }
.section-header h2{color: #fff;}

.PanelWithList >.List li:hover, .PanelWithList >.List li.Selected { background: #d84200; }
.PanelWithList >.Content .Checklist .Item:hover .Controls span { color: #cb3e00; }
.PanelWithList >.Content .Checklist .Item:hover .Controls span:hover {color: #d84200; }

.Dictionary .Selector a:hover { color: #cb3e00 !important; }

.PopUp_Heading h1, .PopUp_Heading h2 { color: #883d1d;}
.PopUp_Close span { color: #883d1d;}
.PopUp_Close:hover { background-color: #883d1d;}


/* ----------- INFRAGISTICS STYLES ---------------*/

.ui-igcombo-button { color: #cb3e00 !important; }

.ui-igstartupbrowsebutton:hover, .ui-iggrid .ui-state-hover, li.ui-state-hover {background: #cb3e00 !important; color:#fff !important; border-color: #cb3e00; }

.ui-datepicker .ui-datepicker-calendar  .ui-datepicker-current-day{ background-color: #cb3e00 !important;}
.ui-datepicker .ui-datepicker-calendar a.ui-state-active { color: #cb3e00 !important;}